@import "tailwindcss";

:root {
  --cor-ciano: #00999E;
  --cor-ciano-claro: #56CCF2;
  --cor-roxo: #973C8B;
  --text-seze-s: 16px;
  --text-size-m: 20px;
  --text-size-l: 40px;
  --button-gradient: linear-gradient(0deg, #00C7D1 0%, #009CA5 100%);
  --bg-h2: #ffffff85;
  --azul: #0082B2;
  --bg-custom-gradient:linear-gradient(180deg, #F9F5FD 0%, rgba(207, 203, 209, 0.703846) 42.31%, rgba(149, 146, 151, 0.3) 100%);
}

* {
  font-family: "inter", sans-serif;
}